.git
.github
.idea
.fleet
.DS_Store

apps/api/vendor
apps/api/var
apps/api/.env.local
apps/api/.env.*.local

apps/web/node_modules
apps/web/.nuxt
apps/web/.output
apps/web/.data
apps/web/.nitro
apps/web/.cache
apps/web/dist
apps/web/.env
apps/web/.env.*

docs
